<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.playing_with_adapters_2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Playing_with_Adapters_2">
        <activity
            android:name=".array_adapter_5">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".array_adapter_4"></activity>
        <activity android:name=".array_adapter_3">

        </activity>
        <activity android:name=".array_adapter_2" />
        <activity android:name=".playing_with_layout_inflater" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>